
<html>
  <body>
    <p>Are you sure you want to delete the following restaurant? 
    <div style="margin: auto;align-self:center;text-align:left;width:400px;border:1px dashed #6495de;padding:16px;">
      <form style="align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;" method="POST" action="/api/restaurants/?_method=DELETE" enctype="x-www-form-urlencoded">
        {{!-- <input type="hidden" name="_method" value="PUT" /> --}}
        <label for="restaurant_id">Restaurant ID</label>
        <input id="restaurant_id" type="text" name="restaurant_id"/ value="{{fields.restaurant_id}}"><br />
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="{{fields.name}}" /><br />
        <label for="cuisine">Cuisine</label>
        <input id="cuisine" type="text" name="cuisine" value="{{fields.cuisine}}" /><br />
        <label for="borough">Borough</label>
        <input id="borough" type="text" name="borough" value="{{fields.borough}}" /><br />

        <label for="building">Building</label>
        <input id="building" type="text" name="building" value="{{fields.address.building}}" /><br />
  
        <label for="coordx">Coordinates X</label>
        <input id="coordx" type="text" name="coordx" value="{{fields.address.coord.[0]}}" /><br />
        <label for="coordy">Coordinates y</label>
        <input id="coordy" type="text" name="coordy" value="{{fields.address.coord.[1]}}" /><br />
        <label for="street">Street</label>
        <input id="street" type="text" name="street" value="{{fields.address.street}}" /><br />    
        <label for="zipcode">Zipcode</label>
        <input id="zipcode" type="text" name="zipcode" value="{{fields.address.zipcode}}" /><br />

        {{#each fields.grades}}
        <label for="date">Date</label>
        <input id="date" class="date" type="text" name="date" onfocus="dttonfocus()" value="{{this.date}}" /><br />
        <label for="grade">Grade</label>
        <input id="grade" type="text" name="grade" value="{{this.grade}}"/><br />
        <label for="score">Score</label>
        <input id="score" type="text" name="score" value="{{this.score}}"/><br />
        {{/each}}
        <div id="extra-fields-container" style="align-self:stretch;flex-direction:column; display: flex;justify-content:space-around;"></div>
        <input type="hidden" id="id"  name="id" value={{data}}>
        <button type="button" id="buttonCancel" onclick="location.href = '/'">Calcel</button>
        <input type="submit" value="Delete" />
      </form>

      

    </div>

  </body> 

</html>