<div style="margin: auto;align-self:center;text-align:left;padding:16px;">
  <table
    border="1"
    ,style="align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  >
    <th>ID</th>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Borough</th>
    <th>Address</th>
    <th>Grades</th>

    {{#each data}}
      <tr>
        <td>{{this.restaurant_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.borough}}</td>
        <td>
          {{this.address.building}}
          {{#each this.address.coord}}{{/each}}
          {{this.address.street}}
          {{this.address.zipcode}}
        </td>
        <td>
          {{#each this.grades}}
            {{#this}}
              <span>
                {{date}}
                {{grade}}
                {{score}}
              </span></br>
            {{/this}}
          {{/each}}
        </td>
        {{!-- <td>{{this.publishedDate.$date}}</td> --}}
      </tr>

    {{/each}}
  </table>
</div>