<form
  style="align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  method="GET"
  action="/api/restaurants/all"
  enctype="x-www-form-urlencoded"
>
  {{! <input type="hidden" name="_method" value="PUT" /> }}
  <div
    style="margin:2rem 1rem ;display:flex; flex-direction:row; justify-content:space-around"
  >
    <div style="margin-right: 3rem;">
      <label for="page">Go to Page # </label>
      <input
        id="page"
        type="number"
        name="page"
        min="1"
        value="{{details.page}}"
        required
      /><br />
    </div>
    <div style="margin-right: 3rem;">
      <label for="perpage">Entries Per Page </label>
      <input
        id="perpage"
        type="number"
        name="perpage"
        min="1"
        value="{{details.perPage}}"
        required
      /><br />
    </div>
    <div style="margin-right: 3rem;">
      <label for="borough">Borough </label>
      <input
        id="borough"
        type="text"
        name="borough"
        value="{{details.borough}}"
      /><br />
    </div>
  </div>
  <input type="submit" value="Submit" style="width:20rem; align-self:center" />
</form>

<div
  style="width:auto;height:auto; ;align-self:center;text-align:left;padding:16px;display: flex;justify-content:center; align-items:flex-start"
>
  <table
    border="1"
    ,style="width:100%;height:100%;align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  >
    <th>ID</th>
    <th>Restaurant ID</th>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Borough</th>
    <th>Address</th>
    <th>Grades</th>
    <th>View On Map</th>

    {{#each data}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.restaurant_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.borough}}</td>

        <td>
          {{this.address.building}}
          -
          {{this.address.street}}<br />
          {{this.address.zipcode}}<br /><br />
          {{#with this.address.coord}}
            Coordinates:
            <br />
            Lat:<br />
            {{0}}
            <br />
            Long:<br />
            {{1}}{{/with}}
        </td>
        <td style="vertical-align:center; ">
          {{#each this.grades}}
            {{#this}}
              <table
                border="0"
                style="display:flex; justify-content:space-around ;"
              >
                <tr style="vertical-align:top;">
                  <td>Date: {{date}}</td>
                  <td>Grade: {{grade}}</td>
                  <td>Score: {{score}}</td>
                </tr><br />
              </table>
            {{/this}}
          {{/each}}
        </td>
        <td>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="200"
                height="200"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q={{this.name}}%20{{this.address.street}}%20{{this.borough}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              >
              </iframe>
              <br /><style
              >.mapouter{position:relative;text-align:right;height:200px;width:200px;}</style><style
              >.gmap_canvas
                {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div></div></td>{{!-- <td>{{this.publishedDate.$date}}</td> --}}
      </tr>

    {{/each}}
  </table>

</div>

<form
  style="align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  method="GET"
  action="/api/restaurants/all"
  enctype="x-www-form-urlencoded"
>
  {{! <input type="hidden" name="_method" value="PUT" /> }}
  <div
    style="margin:1rem ;display:flex; flex-direction:row; justify-content:space-around"
  >
    <div style="margin-right: 3rem;">
      <label for="page">Go to Page #</label>
      <input
        id="page"
        type="number"
        name="page"
        min="1"
        value="{{details.page}}"
        required
      /><br />
    </div>
    <div style="margin-right: 3rem;">
      <label for="perpage">Entries Per Page</label>
      <input
        id="perpage"
        type="number"
        name="perpage"
        min="1"
        value="{{details.perPage}}"
        required
      /><br />
    </div>
    <div style="margin-right: 3rem;">
      <label for="borough">Borough</label>
      <input
        id="borough"
        type="text"
        name="borough"
        value="{{details.borough}}"
      /><br />
    </div>
  </div>
  <input type="submit" value="Submit" style="width:20rem; align-self:center" />
</form>