<div
  style="width:100%;height:100%; ;align-self:center;text-align:left;padding:16px;display: flex;justify-content:center; align-items:flex-start"
>
  <table
    border="1"
    ,style="width:100%;height:100%;align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  >
    <th>ID</th>
    <th>Restaurant ID</th>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Borough</th>
    <th>Address</th>
    <th>Grades</th>
    <th>View On Map</th>

    {{#each data}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.restaurant_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.borough}}</td>
        <td>
          {{this.address.building}}
          -
          {{this.address.street}}
          {{this.address.zipcode}}<br /><br />
          {{#with this.address.coord}}Coordinates:
            <br />
            Lat:<br />
            {{0}}
            <br />
            Long:<br />
            {{1}}{{/with}}
        </td>
        <td style="vertical-align:center; ">
          {{#each this.grades}}
            {{#this}}
              <table border="0">
                <tr style="border:solid black 1px;">
                  <td>Date: {{date}}</td>
                  <td>Grade: {{grade}}</td>
                  <td>Score: {{score}}</td>
                </tr><br />
              </table>
            {{/this}}
          {{/each}}
        </td>
        <td>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="200"
                height="200"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q={{this.name}}%20{{this.address.street}}%20{{this.borough}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              >
              </iframe>
              <br /><style
              >.mapouter{position:relative;text-align:right;height:200px;width:200px;}</style><style
              >.gmap_canvas
                {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div></div></td>
      </tr>

    {{/each}}
  </table>
</div>